.container{
    width: 95%;
    height: 80px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.navbar{
    position: sticky;
    background-color:white;
    position: fixed;
    width: 95%;
    z-index: 11;
    
}

.header{
    /* border: solid green 1px; */
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.left-header, .mid-header, .right-header{
    margin-top: 28px;
    display: flex;
    height: 34px;
    align-items: center;
    cursor:pointer;
}
.left-header>img{
    margin: 2px;
    height: 28px;
    cursor:pointer;
}
.left-header>a{
    color:black;
    font-weight: 600px;
    font-size:14px;
    margin-right: 8px;
}

.right-header >a>img{
    margin-left: 5px;
    margin-right: 10px;
    height: 25px;
    cursor:pointer;
}
.mid-header{
    display: flex;
    justify-content: center;
}
.mid-header>img{
    height: 35px;

}
.right-header{
    display: flex;
    justify-content:flex-end;
}
.menu-navbar{
    /* border: solid green 1px; */
    display:grid;
    height:30px;
    grid-template-columns: 72% 28%;
    margin-top:20px;
}
.menu > ul{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size:14px;
    font-weight:700;
    line-height:20px;
    position: relative;
    left: -50px;
    padding-top: 3px;   
    cursor:pointer;
}
.menu-navbar>.searchbar{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 20px;
}
.searchbar>input{
    width: 80%;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:700;
    color: #000000;
    line-height: 20px;
    z-index: 4;
}
.searchbar>img{
    width: 20px;
    height: 20px;
    position: relative;
    right: 25px;
    top: 7px;
    z-index: 5;
}
.dropdown> li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    text-decoration-color: #000000;
  }
  
  .dropdown-content {
    margin-top: 3px;  
    display: none;
    position: absolute;
    left: 50px;
    right: 50px;
    width: 205vh;
    background-color:rgb(247,247,247);
    z-index: 1;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
  }
  li{
      font: size 14px;
      padding-top: 10px;
      
  }
  .dropdown-content>img{
      height:190px;
      position: absolute;
      right: 40px;
      top: 30px;
  }
  .dropdown-content >ul li {
    font-weight: none;
    list-style-type: none;
    font-weight: 100;
  }
  .dropdown-content>ul{
      margin: 60px;
  }
  #bold{
      font-weight: 800;
  }
  .dropdown-content>ul>li:hover{
    color: gray; 
}
  .dropdown:hover .dropdown-content {display: flex;}

  /* green strip code hare */
  .club-strip{
      border: solid rgb(184,203,132) 1px;
      font-size:18px;
      text-align: center;
      color:rgb(16, 16, 31);
      background-color:rgb(184,203,132);
      font-weight: bold;
      z-index: 12;
      margin-top:10px;
  }
  .club-strip>p{
      padding:0px;
      margin:9px;
  }
  .club-strip>p>a{
    color:rgb(16, 16, 31);
    text-decoration: underline;   
  }


 /* sliding window CSS code */

.container{box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 160px;
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.10s ease;
  position: relative;
  top: -50px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Grid card CSS */
.grid-card{
  /* border: solid red 1px; */
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 100%;
    float: left;
} 
.grid-card>a>img{
    width: 65vh;
    margin-bottom: 40px;
}


/*footer section start hare */
#textMainDiv{
  width:100%;
  /* height: 500px; */
  margin:auto;
}
#textMainDiv>h1{
  font-size:33px;
  font-weight: bolder;
    transform: scaleX(0.9);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  /* font-size: 20px; */
  text-align: center;
  font-weight: 600;
  font-size:20px;
}
#imgTxtDiv{
  display:grid;
  grid-template-columns: 50% 50% ;
  grid-gap: 30px;
}
p{
 font-size: 18px;
  text-align: center;
  line-height: 30px; 
  font-weight: lighter;
  padding-left: 25px ;
  padding-right: 35px;
}
#imgTxtDiv~ #btnDiv{
width: 30vh;
padding-top: 40px;
padding-bottom: 50px;
margin: auto; 
}
#btnDiv>button{
  padding: 15px;
  height: 50px;
  font-weight: bold;
  background-color: white;
  font-size: medium;
}
#btnDiv>button:hover{
  background-color: black;
  color: white;
}
#txtDiv{
  margin-left: 40px;
  
}

/* footer */
#medcont{    
  width:99%;
  margin:auto;
  background-color:#f3f3f3;
  padding-top:16px;
  height:70px;
  margin-top:50px;
}
#medcont>div{
  width:74%;
  margin:auto;
  height:80%;
}
.bdiv{
  display:inline-block;
  height:100%;
  vertical-align:top;
}
#sinp{
  background-color:#f3f3f3;
  width:99%;
  height:90%;
  vertical-align: top;
}
#tdiv{
  margin-left: 70px;
  margin-top:10px;
}
#fbdiv{
  margin-left: 20px;
  margin-top:10px;
}
#ytdiv{
  margin-left: 20px;
  margin-top:10px;
}
#idiv{
  margin-left: 20px;
  margin-top:10px;
}
#inpdiv{
  border:3px solid black;
  margin-left:65px;
  width:340px;
  height:80%;
}
#inpdiv>div{
  display: inline-block;
  font-size:30px;
  height:100%;
  vertical-align:top;
}
#inftxt{
  color:red;
  font-size:14px;
}
#hrfdiv{
  margin-top:40px;
}
#hrfdiv>div{
  display: inline-block;
  width:20%;
  vertical-align: top;
}
#ul1{
  list-style-type:none;
}
#ul2{
  list-style-type:none;
}
#ul3{
  list-style-type:none;
}
#ul4{
  list-style-type:none;
}
.liAll{
  color:black;
  font-family: 'Inter', sans-serif;
  line-height:28px;
  font-size: 11px;
  font-weight:550;
}
.h4{
  font-family: 'Inter', sans-serif;
  font-weight: 750;
}
#col2{
  margin-left:36px;
}
#col3{
  margin-left:46px;
}
#col4{
  margin-left:70px;
}
.liAll:hover{
  text-decoration:underline;
}
.info{
  display:inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight:600;
}
.info>p{
  font-size:14px;
  font-weight:600;
}
#select1{
  font-family: 'Inter', sans-serif;
  font-weight:500;
}
#linfo{
  font-family: 'Inter', sans-serif;
  display:inline-block;
  font-size: 9px;
  font-weight:400;
}
#linfo1{
  font-family: 'Inter', sans-serif;
  display:inline-block;
  
}
#linfo1>p{
  font-size: 9px;
  font-weight:400;
  text-align: left;
  line-height: 5px;
}
#drpdiv{
  color:red;
  font-size:12px;
}
/* SLIDER CSS */
.item {
  background-color: white;
  width: 100%;
  height: 80%;
  gap: 5px;
  margin-right: 15px;
}
#container {
  width: 90%;
  margin: 10px;
  margin-bottom: 20px;
}
/* .owl-nav {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} */
.owl-prev {
  position: absolute;
  left: 0;
  display: block;
  margin-right: 10px;
}
.owl-next {
  position: absolute;
  right: 0;
  display: block;
  margin-left: 20px;
}
.owl-dots {
  display: none;
}

.bi bi-heart {
  color: black;
  
}
i {
  position: absolute;

  left: 35%;
  margin-top: 10px;
}
.font16 {
  font-family: "Interstate Condensed";
  font-size: 14px;
}
.price {
  box-sizing: border-box;

  font-family: "Interstate";
  color: #111;
  text-align: center;
  margin-left: 20%;
}
button {
  background: 0 0;
  border: 2px solid #111;
  border-radius: 0;
  box-shadow: none;
  font-family: "Interstate Condensed" !important;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 15px;
  height: 38px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin-left: 20%;
  margin-top: 5%;
}

.img {
  width: 245px;
  height: 245px;
}
h1 {
  text-align: center;
}
#inc {
  height: 400px;
}
#slidehead {
  font-size: 28px;
  text-decoration: underline;
  margin-bottom: 5%;
}
#slideh2 {
  font-size: 28px;
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: bolder;
}
.productnm {
  text-align: center;
}
.price-bx {
  margin-left: 25%;
}
.fa-lg{
  margin-left: 10%;
}
.item{
  display: inline-block;
  margin: auto;
} 
.back, .front{
  position: relative;
  top: 250px;
}
#inc>a>img{
  width: 20vw;
  margin: auto;
  height:35vh;
  position: relative;
  right: 50px;
}
.owl-carousel2, .owlcarousel{
display:grid;
gap:1vw;
grid-template-columns: auto auto auto auto;
grid-template-rows: 480px;
/* border:solid red 1px; */
width:90%;
overflow:hidden;
margin: auto;
height:510px;
vertical-align:top;
}
.productnm>h5{
  justify-content: center;
  margin-bottom: 0px;
}
#inc>h3{
  font-size: 15px;
  text-align: center;
  margin-top:0px;
  padding-top: 0px;
}
.clk{
  width: 3vw;
  align-items: center;
  margin-left: 40%;
  cursor: pointer;
}

/* new one slider css */
.back1, .front1{
  position: relative;
  top: 250px;
}
.view{
  width: 4vw;
  align-items: center;
  margin-left: 40%;
  cursor: pointer;
}
.view:hover{
  background-color:black;
  color:white;
}
#p1{
  text-align: center;
  vertical-align: top;
  font-size:70px;
  font-weight: 500;
  line-height: 45px;
}

/* media queries for grid part  */
@media screen and (min-width: 0px) and (max-width:991px){
  #imgTxtDiv{
    display:grid;
    grid-template-columns: 90% ;
  }
}