.container{
    width: 96%;
    height: 80px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    cursor: pointer;
}
.header{
    /* border: solid green 1px; */
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.left-header, .mid-header, .right-header{
    margin-top: 28px;
    display: flex;
    height: 34px;
    align-items: center;
}
.left-header>img{
    margin: 2px;
    height: 28px;
}
.left-header>a{
    color:black;
    font-weight: 600px;
    font-size:14px;
    margin-right: 8px;
}

.right-header >a>img{
    margin-left: 5px;
    margin-right: 10px;
    height: 25px;
}
.mid-header{
    display: flex;
    justify-content: center;
}
.mid-header>img{
    height: 35px;

}
.right-header{
    display: flex;
    justify-content:flex-end;
}
.menu-navbar{
    /* border: solid green 1px; */
    display:grid;
    height:30px;
    grid-template-columns: 72% 28%;
    margin-top:20px;
}
.menu > ul{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size:14px;
    font-weight:700;
    line-height:20px;
    position: relative;
    left: -50px;
    padding-top: 3px;   
}
.menu-navbar>.searchbar{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 20px;
}
.searchbar>input{
    width: 80%;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:700;
    color: #000000;
    line-height: 20px;
    z-index: 4;
}
.searchbar>img{
    width: 20px;
    height: 20px;
    position: relative;
    right: 25px;
    top: 7px;
    z-index: 5;
}
.dropdown> li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    text-decoration-color: #000000;
  }
  
  .dropdown-content {
    margin-top: 3px;  
    display: none;
    position: absolute;
    left: 50px;
    right: 50px;
    width: 208vh;
    background-color:rgb(247,247,247);
    z-index: 1;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
  }
  li{
      font: size 14px;
      padding-top: 10px;
      
  }
  .dropdown-content>img{
      height:190px;
      position: absolute;
      right: 40px;
      top: 30px;
  }
  .dropdown-content >ul li {
    font-weight: none;
    list-style-type: none;
    font-weight: 100;
  }
  .dropdown-content>ul{
      margin: 60px;
  }
  #bold{
      font-weight: 800;
  }
  .dropdown-content>ul>li:hover{
    color: gray; 
}

  .dropdown:hover .dropdown-content {display: flex;}