body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

header {
    cursor: pointer;
    display: flex;
    height: 55px;
    background: black;
    align-items: center;
}

.left>a {
    font-size: 16px;
    color: white;
    margin-left: 30px;
    font-weight: 500;

}

.midpart {
    font-size: 50px;
    font-weight: bold;
    margin-left: 25%;
}

.midpart>a {
    color: white;
}

.midpart>a>span {
    font-size: 12px;
}
div{
    display: block;
}
.text_uppercase{
    text-transform: uppercase;
}
.register_container{
    width: 420px;
    margin: 0 auto;
}
.form_create_account{
    font-style: normal;
    font-weight: 400;
}
.label{
    font-weight: 600;
    display: inline-block;
    margin: 0 0 8px;
}
.black_button{
    background: #111;
    border: 2px solid #111;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding: 5px 15px;
    height: 40px;
    text-transform: uppercase;
}
.cursor_pointer{
    cursor: pointer;
}
fieldset{
    border: 0;
}
.main_register_container{
    width: 100%;
    max-width: 1300px;
    background: #f7f7f7;
    margin: 0 auto;
}

input[type=email]{
    border: 1px solid white;
    border-radius: 3px;
    box-sizing: border-box;
    color: #7d7d7d;
    font-size: 16px;
    height: 40px;
    margin: 5px 0 15px;
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    vertical-align: baseline;
    background:rgb(236, 235, 235);
}
input[type=password]{
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    height: 40px;
    margin: 5px 0 15px;
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    vertical-align: baseline;
}
input[type=text]{
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    color: #7d7d7d;
    font-size: 16px;
    height: 40px;
    margin: 5px 0 15px;
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    vertical-align: baseline;
}
.main_register_container{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
:hover.customer_dob{
    cursor: pointer;
}
#gender option:first-child{
    display: none;
}
select option{
    padding: 10px;
    background: #fff;
    box-shadow: none;
}
option{
    min-height: 1.2em;
    white-space: nowrap;
    font-weight: normal;
}
select{
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    height: 40px;
    margin: 5px 0 15px;
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    vertical-align: baseline;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    text-align: start;
    width: 100%;
    background: #e1e1e1;
    color: #111;
    letter-spacing: normal;
    word-spacing: normal;
}

/* payment logo css */
.paymentlogo>ul {
    margin-top: 2%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(247,247,247);
    width: 96%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.paymentlogo>ul>li {
    margin: 5px;
}

.paymentlogo>p {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 3px;
    color: black;
}

.paymentNote {
    font-size: 16px;
    color: black;
}
.paymentlogo{
    text-align: center;
}
#email_address{
    color: black;
}